body{
    background: linear-gradient(to bottom right, #0000cc 0%, #ffff00 100%)
}

a{
    color: black;
}

.cim{
    color: gold;
    text-align: center;
    font-size: 69px;
}

.fejlec{
    text-align: center;
    width: 1500px;
}

.fejlec2{
    text-align: center;
}

.bottom{
    margin-bottom: 69px;
}

.top{
    margin-top: 69px;
}

.eler{
    text-align: center;
    color: rgb(148, 126, 0);
    font-size: 59px;
}

.logok{
    text-align: center;

}

.ins{
    width: 150px;
}

.twit{
    width: 110px;
    
}

.tabla{
    margin: auto;
}

.kozep{
    margin: auto;
    text-align: center;
}

.jamesbotond{
    width: 500px;
}

.jamesbotond2{
    float: left;
    margin-left: 400px;
}

.johnviktor{
    width: 595px;
}

.johnviktor2{
    float: right;
    margin-right: 300px;
}

.FB1{
    width: 595px;
}

.FB11{
    float: right;
    margin-right: 620px;
}

.manga{
    width: 400px;
}

@media only screen and (max-width: 1520px) {
    .fejlec{
        width: 950px;
    }

    .jamesbotond{
        width: 500px;
    }

    .johnviktor{
        width: 500px;
        height: 334px;
    }

    .FB1{
        width: 550px;
    }
}

@media only screen and (max-width: 1020px) {
    .fejlec{
        width: 500px;
    }

    .jamesbotond{
        width: 260px;
    }

    .johnviktor{
        width: 260px;
        height: 175px;
    }

    .FB1{
        width: 300px;
    }
}

@media only screen and (max-width: 600px) {
    .cim{
        font-size: 50px;
    }
    
    .fejlec{
        width: 500px;
    }

    .eler{
        font-size: 50px;
    }

    .jamesbotond{
        width: 200px;
    }
    
    .jamesbotond2{
        margin: auto;
    }
    
    .johnviktor{
        width: 200px;
        height: 135px;
    }
    
    .johnviktor2{
        float: left;
        margin: auto;
    }
    .FB1{
        width: 230px;
    }
    
    .FB11{
        float: right;
        margin: auto;
    }
    .tabla{
        margin: auto;
        
    }
}

@media only screen and (max-width: 550px) {
    .cim{
        font-size: 35px;
    }
    
    .fejlec{
        width: 450px;
    }

    .eler{
        font-size: 35px;
    }

    .jamesbotond{
        width: 200px;
    }
    
    .jamesbotond2{
        margin: auto;
    }
    
    .johnviktor{
        width: 200px;
    }
    
    .johnviktor2{
        float: left;
        margin: auto;
    }
    .FB1{
        width: 230px;
    }
    .manga{
        width: 250px;
    }
}

@media only screen and (max-width: 500px) {
    .cim{
        font-size: 35px;
    }
    
    .fejlec{
        width: 400px;
    }

    .eler{
        font-size: 35px;
    }

    .jamesbotond{
        width: 190px;
    }
    
    .jamesbotond2{
        margin: auto;
    }
    
    .johnviktor{
        width: 190px;
    }
    
    .johnviktor2{
        float: left;
        margin: auto;
    }
    .FB1{
        width: 200px;
    }
}

@media only screen and (max-width: 450px) {
    .cim{
        font-size: 35px;
    }
    
    .fejlec{
        width: 370px;
    }

    .eler{
        font-size: 35px;
    }

    .jamesbotond{
        width: 180px;
    }
    
    .jamesbotond2{
        margin: auto;
    }
    
    .johnviktor{
        width: 180px;
        height: 120;
    }
    
    .johnviktor2{
        float: left;
        margin: auto;
    }
    .FB1{
        width: 230px;
    }
}

@media only screen and (max-width: 400px) {
    .cim{
        font-size: 35px;
    }
    
    .fejlec{
        width: 330px;
    }

    .eler{
        font-size: 35px;
    }

    .jamesbotond{
        width: 160px;
    }
    
    .jamesbotond2{
        margin: auto;
    }
    
    .johnviktor{
        width: 160px;
        height: 107px;
    }
    
    .johnviktor2{
        float: left;
        margin: auto;
    }
    .FB1{
        width: 200px;
    }
}

@media only screen and (max-width: 350px) {
    .cim{
        font-size: 35px;
    }
    
    .fejlec{
        width: 280px;
    }

    .eler{
        font-size: 35px;
    }

    .jamesbotond{
        width: 130px;
    }
    
    .jamesbotond2{
        margin: auto;
    }
    
    .johnviktor{
        width: 130px;
        height: 87px;
    }
    
    .johnviktor2{
        float: left;
        margin: auto;
    }
    .FB1{
        width: 160px;
    }
}

@media only screen and (max-width: 300px) {
    .cim{
        font-size: 25px;
    }
    
    .fejlec{
        width: 150px;
    }

    .eler{
        font-size: 25px;
    }

    .jamesbotond{
        width: 130px;
    }
    
    .jamesbotond2{
        margin: auto;
    }
    
    .johnviktor{
        width: 130px;
        height: 87px;
    }
    
    .johnviktor2{
        float: left;
        margin: auto;
    }
    .FB1{
        width: 190px;
    }
    .manga{
        width: 150px;
    }
}
